<html>
  <head>
    <title>Temperature Converter</title>
  </head>
  <body>
    <div style="width: 50%; margin: auto;">
      <form action="/temperature" method="post">
        <label>Temperature:</label>
        <input type="text" name="temperature" />
        <div style="margin-top: 20px">
        <label>From:</label>
        <select name="from">
          <option value="c">Celsius</option>
          <option value="f">Fahrenheit</option>
          <option value="k">Kelvin</option>
        </select>
        <label>To:</label>
        <select name="to">
          <option value="c">Celsius</option>
          <option value="f">Fahrenheit</option>
          <option value="k">Kelvin</option>
        </select>
        <input type="submit" />
        </div>
      </form>
    </div>
    <div style="width: 50%; margin: auto;">
      <label>Converted to:</label>
      <p style="background-color: lightblue;">
        {{result}}
      </p>
    </div>
</body>
</html>